[Desktop Entry]
Name=PathSafe
Comment=Hospital-grade WSI deidentifier
Exec=pathsafe-gui %f
Icon=pathsafe
Terminal=false
Type=Application
Categories=Science;Medical;
MimeType=image/tiff;
